
header, body, footer{
  width: 1512px;
  padding: 0px;
  margin: 0px;
}

header{
  border-bottom: 7px solid rgb(170, 206, 155);
}

header h1{
  padding-bottom: 10px;
  margin-top: 20px;
}

header .title{
  float: left;
  width: 1100px;
  color:rgb(55, 56, 103, 0.4);
  font-size: 15px;
  font-weight: bolder;
}

header .icon-menu img{
  width: 30px;
  height: 30px;
  margin: 10px;
}

.icons img{
  margin: 20px;
  width: 30px;
  height: 30px;
}

.sidebar{
  display: none;
}

body{
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(255, 255, 255);
  color:rgb(55, 56, 103);
  font-family: 'Roboto', sans-serif;
  line-height: 1.6em;
}

/*---Welcome section---*/

.welcome{
  padding-top: 50px;
  padding-left: 20px;
  background-color: rgb(170, 206, 155, 0.1);
}

.welcome .text{
  float: left;
  width: 680px;
  padding-right: 100px;
}

.welcome .text h2 {
  padding-top: 60px;
  font-size: 40px;
}

.welcome .text h3 {
  font-size: 30px;
  opacity: 0.4;
}

.welcome .text p {
  padding-top: 60px;
  opacity: 0.4;
  font-size: 20px;
  letter-spacing: 1.8px;
  line-height: 30px;
}

.welcome .text button {
  margin-top: 50px;
  padding: 10px 25px; 
  background-color: rgb(170, 206, 155);
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 16px; 
  cursor: pointer;
}

.welcome .text button a {
  text-decoration: none;
  color: rgb(55, 56, 103);
}

/*---App features and More content section---*/

.features {
  width: auto;
  overflow: hidden;
  margin-top: 100px;
  padding-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 100px;
  border-top: 1px solid rgb(227,221,221);
  border-bottom: 1px solid rgb(227,221,221);
}

.features .title {
  width: 220px;
  margin-bottom: 80px;
  border-bottom: 4px solid rgb(170, 206, 155);
  font-size: 22px;
}

.more-content {
  width: auto;
  overflow: hidden;
  margin-bottom: 100px;
  margin-top: 100px;
}

.more-content .box .text h3{
  padding-left: 20px;
  font-size: 36px;
  line-height : 40px;
}

.box {
  float: left;
  width: 600px;
  padding: 10px;
  margin-right: 70px;
}

.box .text h3{
  padding-right: 30px;
  font-size: 36px;
  line-height : 40px;
}

.box .text p{
  color: rgb(55, 56, 103);
  font-size: 14px;
  line-height : 20px;
}

.box .text ol{
  font-size: 14px;
  line-height : 20px;
}

.box .text {
  padding-left: 230px;
}

.box img {
  float: left;
  width: 120px;
  margin: 50px;
  margin-bottom: 70px;
}

/*---contact section---*/

.contact {
  width: auto;
  overflow: hidden;
  margin-bottom: 50px;
  margin-top: 50px;
}

label{
  display: block;
}

form .name,.lname {
  float: left;
  width: 450px;
  margin-right: 10px;
}

input{
  height: 30px;
  padding: 5px;
  padding-left: 10px;
  color: rgb(55, 56, 103);
  border: 1px solid rgb(55, 56, 103);
  border-radius: 5px;
}

.input{
  width: 420px;
}

#contact{
  width: 700px;
}

textarea {
  width: 1350px;
  height: 200px;
  border: 2px solid rgb(227,221,221);
  padding: 10px;
  border-radius: 5px;
}

button {
  padding: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30PX;
  margin-right: 50px;
  border-radius: 5px;
  border: 1px solid rgb(55, 56, 103);
  color: rgb(55, 56, 103);
  font-size: 15px;
  cursor: pointer;
}

#button-send {
  background-color: rgb(170, 206, 155);
  border: none;
  font-weight: bolder;
}

/*---history-origin-mision---*/

.history-origin-mision {
  width: auto;
  overflow: hidden;
  margin-top: 100px;
  padding-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 100px;
  border-top: 1px solid rgb(227,221,221);
  border-bottom: 1px solid rgb(227,221,221);
}

.history-origin-mision p{
  color :rgb(55, 56, 103, 0.4);
}

.history p{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
  border-left: 7px solid rgb(55, 56, 103);
}

.origin{
  float: left;
  width: 650px;
  margin-bottom: 40px;
  margin-right: 80px;
}

.origin p{
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(55, 56, 103);
}

.origin img{
  width: 650px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mision img{
  width: 650px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mision{
  float: left;
  width: 650px;
  padding-left: 0px;
}

.mision p{
  padding-top: 20px;
  border-top: 2px solid rgb(55, 56, 103);
}

/*---Pagination section---*/

.pagination {
  text-align: center; 
}

.pagination ul{
  display: inline-block;
}

.pagination li {
  float: left;
  margin: 10px;
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 2px solid rgb(170, 206, 155);
  border-radius: 5px;
  list-style:none;
  cursor: pointer;
}

.pagination a {
  color:rgb(170, 206, 155);
  text-decoration: none;

}
footer{
  text-align: center; 
}